* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

/*elements */
p,
li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

section {
  margin: 130px;
}

/* primary color: #005FAC;
   Dark-1 color: #151414;
   Secondarycolor: #FFFFFF;
   Dark-2 color: #444343; 
*/

/* universal class */
.btn {
  font-size: 20px;
  font-weight: 600px;
  line-height: 24px;
  text-decoration: none;
  padding: 12px 18px;
  border-radius: 5px;
}

.title {
  margin-bottom: 24px;
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
}

/* Style on header section */
.header {
  height: 810px;
  color: #ffffff;
  background-image: url("../images/banner/banner3.png");
  background-position: center;
}

.header-details {
  text-align: right;
  width: 40%;
  position: absolute;
  right: 0;

  margin: 200px 130px 0 0;
}

.header .title-primary {
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
}

.header .header-description {
  text-align: right;
  margin-bottom: 32px;
}

.btn-contact {
  background-color: #ffffff;
  color: #005fac;
}

/* Style for failure section */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.about-weakness {
  margin-top: 86px;
}
.about .weakness-tittle {
  color: #151414;
  margin-bottom: 24px;
}

.about .weakness-description {
  color: #444343;
  margin-bottom: 10px;
}

.about ul li {
  list-style: none;
  margin: 6px;
}

/* Style for my plans section */

.plans-title {
  text-align: center;
  color: #151414;
}

.plan-items {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 42px;
  text-align: center;
}

.item .item_title {
  margin: 12px 0;
}

/* Style for Motivational section */
.motivation {
  background-image: url("../images//watch.png"), url("../images/gradient1.png");
  background-blend-mode: soft-light;

  border-radius: 8px;
}

.motivation > div {
  padding: 68px 56px;
}

.motiv-title {
  color: #ffffff;

  width: 480px;
  margin-bottom: 24px;
}

.btn-call {
  color: #005fac;
  background-color: #ffffff;

  padding: 16px 24px;
  border: none;
}

/* Style for footer section */
.footer-container {
  color: #f8f8f8;
  background-color: #151414;
  padding: 100px 130px;

  display: flex;
}

.future-description {
    max-width: 60%;
}

.future-contact {
    margin: 12px 0;
}

.future .icons img{
    margin: 12px 12px 0 0;
}

.subscribe-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 22px;
    
    margin-bottom: 24px;
}

.news-letter .email {
    font: 18px;
    font-weight: 400;
    line-height: 18px;

    width: 100%;
    padding: 12px 16px;
    margin-bottom: 16px;

    background-color: #151414;
    color: #f8f8f8;
    border: 1px solid #fff;
    border-radius: 8px;
}

.btn-subscribe {
    color: #ffffff;
    background-color: #005fac;

    padding: 16px 24px;
}

.news-letter ::-webkit-input-placeholder{
    color: #F3F3F3;
    font-size: 14px;
    letter-spacing: 1.3px;
}