* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

p,li {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 42px;
}

/* primary color: #005FAC;
   Dark-1 color: #151414;
   Secondarycolor: #FFFFFF;
   Dark-2 color: #444343; 
*/


/* Style on header section */
.header {
    height: 810px;
    color: #FFFFFF;
    background-image: url('../images/banner/banner3.png');
}

.header-details {
    text-align: right;
    max-width: 50%;
    position: absolute;
    right: 0;

    margin: 200px 130px 0 0;
}

.header .title-primary {
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;

    margin-bottom: 24px;
}

.header .header-description {
    max-width: 70%;
    text-align: right;
    position: relative;
    left:210px;

    margin-right: 0;
    margin-bottom: 32px;
}

.btn {
    font-size: 20px;
    font-weight: 600px;
    line-height: 24px;
    text-decoration: none;
    padding: 12px 18px;

    border-radius: 5px;
}

.btn-contact {
    background-color: #FFFFFF;
    color: #005FAC;
}

/* Style for failure section */
section {
    margin: 130px 150px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 86px;
}

.about-weakness {
    margin-top: 86px;
}
.about .weakness-tittle {
    color: #151414;
    margin-bottom: 24px;
}

.about .weakness-description {
    color: #444343;
    max-width: 85%;
    margin-top: 16px;
    margin-bottom: 10px;
}

.about ul li {
    list-style: none;
    margin: 6px;
}

/* Style for my plans section */

.plans-title {
    text-align: center;
    color: #151414;
    font-size: 42px;
    font-weight: 700;

    line-height: 42px;
}

.plan-items {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-top: 52px;
}

.item .item_title {
    margin: 12px 0;
}

/* Style for Motivational section */
.motivation {
    background-image: url('../images//watch.png'), url('../images/gradient1.png');
    background-blend-mode: soft-light;

    border-radius: 8px;
}

.motivation > div {
    padding: 68px 56px;
}

.motiv-title {
    color: #FFFFFF;

    width: 480px;
    margin-bottom: 24px;
}

.btn-call {
    color: #005FAC;
    background-color: #FFFFFF;

    padding: 16px 20px;
    border: none;
}

/* Style for footer section */